
/* VIDEO */
.container {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    min-width: 400px;
    
}

.login-form, .register-form {
    margin-right: 100px;
    padding: 20px 45px 20px 30px;
    border-radius: 20px;
    align-self: center;
    background-color: var(--gray-dark);
    color: white;
    width: 300px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-header {
    font-size: medium;
    display: flex;
    text-align: center;
    font-weight: bolder;
    flex-direction: column;
    position: relative;
    padding-top: 40px;
}
.school-logo {
    width: 80px;
    position: absolute;
    top: -50px;
    left: 36%;
}
.login-body, .register-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-options, .register-options {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-btn, .register-btn {
    font-size: medium;
    background: var(--main-dark);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.logout-btn {
    text-decoration: none;
    color: var(--main-dark);
}
.login-remember-check {
    background-color: var(--gray-darker);
}
.forgot-password {
    text-decoration: none;
    color: var(--main-dark);
    align-self: end;
}
.form-control {
    width: 100%;
    background-color: var(--gray-darker);
    height: 30px;
    color: white;
    font-size: 15px;
    padding: 0px 10px;
    font-weight: lighter;
}

.showcase {
    width: 700px;
    overflow:hidden;
    display:block;
    height: 500px;
    margin-left: 20px;

}
.showcase-vid_1 {
    margin-top: -40px;
    width: 575px;
    mix-blend-mode: multiply;
}
.showcase-vid_2 {
    width: 530px;
    mix-blend-mode: multiply;
    filter: hue-rotate(-40deg);
}
.invalid-feedback {
    color: rgb(221, 90, 90);
    font-size: small;
}


@media screen and (max-width: 1300px) {
    .showcase {
        display: none;
    }
    .container {
        justify-content: center;
        align-items: center;
        height: 85vh;
    }
    .login-form, .register-form {
        margin: 0;
    }
}

@media screen and (max-width: 720px) {
    .login-form, .register-form {
        width: 60%;

    }
}